
<!-- Voici le code HTML de la page "à propos" de notre application -->
<!-- Pour chaque page s'affichant dans notre application au format HTML, -->
<!-- nous avons recourt à un système de blocks définis dans la page conteneur.html -->
<!-- La structure par blocks et le css ont été réalisés à l'aide de bootstrap -->
<!-- Se reporter au dossier static pour le css -->
<!-- Se reporter à la page conteneur.html pour plus de détails sur la structure et les choix réalisés
 quant à l'habillage du site -->


{% extends "conteneur.html" %}

{% block titre %}

{% endblock %}

{% block corps %}


<h1>A propos</h1>

<p> L'application <i>Correspondances de George Sand, 1848-1870</i> a été réalisée par Céline Champcourt et Diane Alliaume, étudiantes en deuxième année de master Technologies Numériques appliquées à l'Histoire, dispensé par l'Ecole Nationale des Chartes. </p>

<div class="row" style="padding-top:5% ; padding-left: 10%" >
           <a href="http://www.chartes.psl.eu/fr/cursus/master-technologies-numeriques-appliquees-histoire"><img src="{{ url_for('static', filename='pictures/logo-ecole-nationale-des-chartes.png')}}" class="img-thumbnail"></a>
</div><br/>

<p class="text-light bg-dark"> <b><u>Cette petite application permet à la fois :</u></b><br/>
    - l'affichage de 10 lettres provenant de la Correspondance de George Sand entre 1848 et 1870</br>
    - une recherche plein texte</br>
    - une recherche dans les lettres par dates, lieux d'expédition et destinataires</br>
 </p>

{% endblock %}