{% extends "conteneur.html" %}


{% block corps %}
<!-- Voici le code HTML de la page d'accueil de notre site -->

<!-- Here is the HTML code for the home page ("accueil") -->
<h1><i>Correspondances de George Sand de 1848 à 1870.</i></h1>
<hr>
<!-- Nous avons ici créé des conditions avec un "if" et une boucle avec un "for".
Nous avons utilisé url_for () pour faire des liens vers chacune de nos lettres.-->

<!-- To display a list of links to our letters, we created conditions with an "if" and a loop with a "for"-->
<!-- Then we used url_for() to give the link sending back to each and every letter -->

<p>Cette application a été créée dans le cadre d'un projet python/flask par deux élèves du Master 2 Technologies
    Numériques Appliquées à l'Histoire de l'Ecole Nationale des Chartes </p>

<p>
    {% if correspondances %}

<!-- Ici le filtre lenght permet d'afficher le nombre de lettres dans la base -->

    <!-- The length filter gives the number of letters in the database -->

    <u><b> Il y a {{ correspondances | length }} lettres enregistrées à ce jour :</b></u>
    <ul>
        {% for correspondance in correspondances %}

    <!-- correspondance est une fonction définie dans la page routes.py. Le lien url renvoie vers la page lettre.html-->
    <!-- Nous faisons ici des renvois aux informations contenues dans nos classes (tables). -->
    <!-- Il est à noté que le titre des lettres correspond à leur numéro (ex : lettre 277) -->
    <!-- Quand il clique sur l'un des titres l'utilisateur est redirigé vers la lettre en question-->
    <!-- Le filtre upper nous sert à afficher les titres des lettres en majuscules pour des questions esthétiques -->


    <!-- correspondance is a function defined in the routes.py page. Its URL leads to the lettre.html page -->
    <!-- What we do here is that we call information from our classes (tables). -->
    <!-- Letters' titles are in fact numbers (ex : lettre 277) -->
    <!-- The user is directly redirected to the letter he clicked on -->
    <!-- The upper filter is a way to display titles' letters in uppercase because we thought it looked better -->

            <li><a href="{{url_for('correspondance', lettre_id = correspondance.lettre_id)}}">{{correspondance.titre | upper}}</a></li>

    {% endfor %}
    </ul>
   <div class="alert alert-secondary" role="alert">
       <!-- Grâce à l'import du filtre "random", nous avons écrit une phrase dynamique -->
       <!-- Le filtre random applique un traitement à notre variable correspondance -->
       <!-- Cela nous permet de proposer une lettre au hasard à nos utilisateurs -->

       <!-- We imported the "random" filter, thanks to which we were able to write a dynamic sentence -->
       <!-- The random filter applies a treatment to the correspondaces variable -->
       <!-- Thus we can select a random letter -->
       <b> <h5>Nous vous proposons aujourd'hui la lecture de la <b>{{ correspondances | random }}</b> ! </h5></b></div>

<hr>

<!-- Ici nous avons installé plusieurs barres de recherches pour chercher des champs spécifiques -->
<h4>Souhaitez-vous rechercher une lettre en saisissant une date ?</h4>
<form class="form-inline my-2 my-lg-0" action="{{url_for("search")}}" method="GET">
      <input class="form-control mr-sm-2" type="search" name="date" type="text" placeholder="date" aria-label="Date">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
 </button>
    </form>
<hr>

<h4>Souhaitez-vous rechercher une lettre en saisissant un nom ?</h4>
<form class="form-inline my-2 my-lg-0" action="{{url_for("search")}}" method="GET">
      <input class="form-control mr-sm-2" type="search" name="person" type="text" placeholder="nom" aria-label="person">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
 </button>
    </form>

<hr>
<h4>Souhaitez-vous rechercher une lettre en saisissant une lieu de réception ?</h4>
<form class="form-inline my-2 my-lg-0" action="{{url_for("search")}}" method="GET">
      <input class="form-control mr-sm-2" type="search" name="lieu" type="text" placeholder="lieu" aria-label="Lieu">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
 </button>
    </form>
<hr>
</br>

<img src="/static/pictures/GS_Gallica.png" class="rounded" alt="Responsive image" width="200px">
        <p>George Sand, portrait par Delacroix, Collection M. Buloz, dans le Monde Illustré du 16 août 1884, BNF, Gallica (<a href="https://gallica.bnf.fr/ark:/12148/bpt6k6447570t/f4.item">source</a>) </p>

<hr>


<h5>Les lettres 277 à 281 et 737 à 741 proviennent respectivement des volumes <a href="https://gallica.bnf.fr/ark:/12148/bpt6k206545v">III</a> et <a href="https://gallica.bnf.fr/ark:/12148/bpt6k2065480">VI</a> de<i> Correspondance : 1812-1876</i>, une oeuvre disponible en
        ligne sur le site de Gallica, bibliothèque numérique de la Bibliothèque Nationale de France.  </h5>
    {% else %}
    La base de données est en cours de constitution
    {% endif %}
</p>

{% endblock %}