{% extends "conteneur.html" %}

{% block titre %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

        {%if correspondance %} | Lettre : {{correspondance.titre}} {% endif %}
{% endblock %}

{% block corps %}
    {% if correspondance %}
<br/>
<br/>
<br/>

            <h1>{{correspondance.titre}}</h1>
            <dl>
               <dt>Expéditeur</dt> <dd>Sand, George</dd>
                <dt>Date</dt> <dd>{{correspondance.date_label}}</dd>
                <dt>Destinataire</dt> <dd>{{correspondance.correspondant.nom}}, {{correspondance.correspondant.prenom}}</dd>
                <dt>Lieu d'expédition</dt> <dd>{{correspondance.lieu.label}}</dd>
                <dt>Contenu</dt> <dd>{{correspondance.contenu}}</dd>
            </dl>


    {% else %}
            <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}
