<!DOCTYPE html>
<html lang="fr">
<head>
    <head>
        <meta charset="UTF-8">
        <title>George Sand {%block titre %}{%endblock%}</title>
         {% include "partials/css.html" %}
         {% include "partials/metadata.html" %}

        <style type="text/css">


        </style>

    </head>


        <!-- Nous avons créé un conteneur html qui détermine la disposition des différents blocs
         (bloc titre et bloc corps)
        et que l'on a étendu à certaines pages html que nous avons réalisées -->


    <body>

<div class="container">
    <nav class="navbar navbar-expand-md navbar-light float-top" style="background-color:#ddd;">
        <a class="navbar-brand" href="{{ url_for('accueil') }}">Correspondances de George Sand, 1848-1870 </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul><li><a href="/">Accueil</a></li></ul>
    <ul><li><a href="/about">A propos</a></li></ul>

<form class="form-inline my-2 my-lg-0" action="{{url_for("search")}}" method="GET">
      <input class="form-control mr-sm-2" type="search" name="keyword" type="text" placeholder="Faire une recherche" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="/static/pictures/GS_icone.jpg" class="rounded" alt="Responsive image" width="100px">
 </button>
    </form>
    </nav>
</br>
    <img src="/static/pictures/background_navbar.jpg" width="1110px" height="50" class="rounded"></br></br>
    <div class="row">
        <div class="col">
            {% block corps%}{%endblock%}
        </div>
    </div>
</div>
    </body>
</html>